<!DOCTYPE html>
<head>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>

<div th:replace="~{fragments/header :: header}"></div>

<body>
    <main>
            <h2>Arquitectura del Proyecto</h2>
            <p>Nuestro proyecto usa una arquitectura básica MVC <strong>Modelo-Vista-Controlador</strong> para
                mantener una separacion clara de responsabilidades. Esta arquitectura esta compuesta por:</p>
            <ul>
                <li><strong>Controladores:</strong> Responsables de atender solicitudes HTTP, preparar la
                    información y enviarla a las vistas.</li>
                <li><strong>Vistas (Thymeleaf):</strong> Encargadas del renderizado dinámico del contenido, sin
                    incluir lógica de negocio compleja.</li>
                <li><strong>Modelo:</strong> Datos que representan las páginas, secciones o entradas de la Wiki, ya
                    sea simulados, en memoria o persistidos.</li>
            </ul>
            <div class="mvc-section">
                <div class="mvc-box">
                    <h3>Modelo</h3>
                    <p>
                        Se encarga de los datos, generalmente consultando la base de datos. Actualizaciones,
                        consultas, búsquedas, etc.
                    </p>
                </div>
                <div class="mvc-box">
                    <h3>Vistas</h3>
                    <p>
                        Son la representación visual de los datos, todo lo que tenga que ver con la interfaz gráfica
                        va aquí. Ni el modelo ni el controlador se preocupan de cómo se verán los datos, esa
                        responsabilidad es únicamente de la vista.
                    </p>
                </div>
                <div class="mvc-box">
                    <h3>Controlador</h3>
                    <p>
                        Se encarga de controlar, recibe las órdenes del usuario y se encarga de solicitar los datos
                        al modelo y de comunicárselos a la vista.
                    </p>
                </div>
            </div>
    </main>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>